<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="css/common.css">
  <style>
    .main {
      width: 100vw;
      height: 100vh;
      line-height: 100vh;
      background: #f8f8f8;
      text-align: center;
      color: #333333;
      font-size: 120px;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
    }

    .main .content {
      line-height: 1;
      display: inline-block;
    }

    .link {
      font-size: 30px;
    }
  </style>
</head>

<body>
  <div class="main">
    <div class="content">
      <p class="name">koa</p>
      <a class="link" href="https://www.eoway.cn/">我的博客</a>

    </div>
  </div>
</body>

</html>